        tr td {
            width: 100px;
            height: 50px;
            text-align: center;
        }
        thead td{
            background-color: azure;
            font-weight: bold;
        }
        table{
            border-collapse : collapse;
        }
        header ul {
            list-style:none;
        }
         
        header li {
            float: left;
        }

